<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="contenedor">
        <header>
            <h1 class="titulo"><a href="/">Home</a></h1>
        </header>
        <div>
            <video id="video" class="videoCaptura" autoplay></video>
            <canvas id="canvas" class="canvasCaptura"></canvas><br>
            <button id="botonCapturar" class="boton">Capturar Imagen</button>
        </div>
    </div>
    <script src="js/captura.js"></script>
</body>
</html>