<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="contenedor">
        <header>
            <h1 class="titulo"><a href="/">Home</a></h1>
        </header>
        <div>
            <% if (imagenes.length > 0) { %>
                <% imagenes.forEach(imagen => { %>
                    <div class="imagen-galeria">
                        <a href="/vistaDescribir?imagePath=/galeria/<%= imagen %>">
                        <img src="/galeria/<%= imagen %>" alt="<%= imagen %>"></a>
                    </div>
                <% }) %>
            <% } else { %>
                <p>No hay imágenes en la galería.</p>
            <% } %>
        </div>
    </div>
</body>
</html>
