<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="contenedor">
        <header>
            <h1 class="titulo"><a href="/">Home</a></h1>
        </header>
        <div>
            <button id="botonCamara" class="boton">Hacer foto<br>
            <img src="img/camara.png" class="imagenhome" /></button>
        </div>
        <div>
            <button id="botonGaleria" class="boton">Galería de imágenes<br>
            <img src="img/galeria.png" class="imagenhome" /></button>
        </div>
    </div>
    <script src="js/codigo.js"></script>
</body>
</html>